.section-three {
  display: flex;
  flex-direction: row;
}

.content-container-P9-Q3 {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* margin-bottom: 55px;
  width: 35vw; */
}

.section-one1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-two2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-three3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
