.error-mark4 {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  right: 5%;
  top: -11%;
}
.matching-wrapper2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 66px;
  /* margin: 40px auto; */
  width: 50vw;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  align-items: flex-start;
}

.word-row2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  position: relative;
}

.num2 {
  font-size: 25px;
  font-weight: 700;
  color: #2c5287;
  width: 25px;
  text-align: right;
}

.word-text3 {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  /* background: #b7eaff; */
  border-radius: 20px;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  border: 2px solid transparent;
}

.dot5 {
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.start-dot5 {
  margin-left: 10px;
}

.end-dot5 {
  margin-right: 10px;
}

.lines-layer5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.word-row2,
.word-text3 {
  user-select: none;

}
