.page7-q1-container2 {
  width: 100%;
  padding: 10px;
}

.match-wrapper2 {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
}

.match-images-row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.match-words-row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.img-box2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-box2 img {
  width: auto;
  height: 100px;
  border-radius: 10px;
}

.word-box2 {
  position: relative;
  font-size: 18px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.dot2 {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto !important;
}

.end-dot2 {
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.start-dot2 {
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.lines-layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.page7-q2-container2 {
  user-select: none; /* يمنع تحديد النص */
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.match-wrapper2 img,
.match-words-row2,
.match-images-row2,
.word-box2,
.img-box2 {
  pointer-events: none; /* يمنع الكبس عليها */
}

/* ⭐ تم إضافتها */
.error-mark-img {
  position: absolute;
  top: -10px;
  right: -2px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}
