.headset-icon-CD-unit2-page11-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
  top: 5%;
  left: 22%;
}
