/* ======================== */
/*  DESKTOP — نفس شكلِك     */
/* ======================== */

.number-word-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 9px 45px;
  margin-top: 24px;
}

.num-word {
  border: 2px solid #3baaf7;
  height: 30px;
  width: 30px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #b7eaff;
  font-weight: 700;
  color: darkblue;
}

.word-number {
  display: flex;
  gap: 5px;
}

.num-input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.sentence-row {
      display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.1rem;
    justify-content: flex-start;
    flex-direction: row;
}

.input-sentence {
  width: 80px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid #2c5287;
}

.sentence-line {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sentence-label {
  color: #2c5287;
  font-weight: 700;
  font-size: 20px;
}

.num-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 15vw;
  gap: 24px;
}

.input-wrapper1 {
  position: relative;
}

/* الانبت الغلط */
.input-sentence.wrong-input1 {
  border-color: #ff3b3b !important;
}

.wrong-icon {
  position: absolute;
  top: 3px;
  right: -10px;
  background: #ff3b3b;
  color: white;
  width: 22px;
  height: 22px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border: 2px solid white;
}

/* ======================== */
/*      TABLET 992px        */
/* ======================== */

@media (max-width: 992px) {
  .number-word-section {
    grid-template-columns: repeat(3, 1fr); /* من 5 → 3 بدون تخريب */
    /* gap: 16px 25px; */
  }

  .sentence-row {
    flex-direction: column;
    gap: 14px;
  }

  .num-container {
    /* width: 60vw; */
    justify-content: center;
    gap: 20px;
  }
}

/* ======================== */
/*        MOBILE 600px      */
/* ======================== */

@media (max-width: 600px) {
  .number-word-section {
    grid-template-columns: repeat(2, 1fr); /* 2 أعمدة للموبايل */
    gap: 14px 20px;
  }

  .num-word {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }

  .sentence-row {
    flex-direction: column;
    gap: 15px;
  }

  .input-sentence {
    width: 55px;
    height: 35px;
    font-size: 16px;
  }

  .sentence-label {
    font-size: 18px;
  }

  .num-container {
    width: 80vw;
    justify-content: center;
  }
}

/* ======================== */
/*    SMALL SCREENS 400px   */
/* ======================== */

@media (max-width: 400px) {
  .number-word-section {
    grid-template-columns: repeat(1, 1fr); /* صف واحد */
    justify-items: center;
  }

  .sentence-label {
    font-size: 16px;
  }
}
