.container12 {

  margin: auto;
  position: relative;
  user-select: none;
  margin-bottom: 30px;
}

.matching-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* الكلمة + النقطة */
.word-with-dot2 {
  display: flex;
  align-items: center;
 
  gap: 10px;
}

/* النص يأخذ مساحة عشان النقطة ما تتحرك */
.word-text2 {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  background: #b7eaff;
  border-radius: 20px; /* هذا اللي بيسوي الشكل البيضاوي */
  font-size: 18px;

  min-width: 100px; /* حتى تثبت شوي */
  text-align: center;
  border: 2px solid #3baaf7;
}

.span-num2 {
  font-weight: 800;
  color: purple;
}

/* الصورة + النقطة */
.img-with-dot2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  gap: 10px;
}

.matched-img2 {
  height: 150px;
  width: auto;
}

/* مكان ثابت للنقطة */
.dot-wrapper2 {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* النقاط */
.dot2 {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

/* طبقة الخطوط */
.lines-layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
