.headset-icon-CD-unit2-page2-1,
.click-icon-unit2-page2-1,
.headset-icon-CD-unit2-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.headset-icon-CD-unit2-page2-1 {
  top: 5%;
  right: 3%;
}

.headset-icon-CD-unit2-page2-2 {
  bottom: 28.5%;
  right: 5%;
}

.click-icon-unit2-page2-1 {
  bottom: 13%;
  right: 37%;
}
