.headset-icon-CD-unit2-page6-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit2-page6-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 4%;
  left: 42%;
  cursor: pointer;
}
.click-icon-unit2-page6-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 32.5%;
  left: 43%;
  cursor: pointer;
}
.headset-icon-CD-unit2-page6-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 30%;
  left: 24.5%;
  cursor: pointer;
}
