.content-container-P90-Q1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 55px;
}

.p9-q1-img {
  height: 150px;
  width: 150px;
}

.answer-input {
  border-bottom: 2px solid;
  text-align: center; /* توسيط أفقي */
  vertical-align: middle; /* توسيط عمودي */
  line-height: normal;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
}

.section-one {
  display: flex;
  align-items: center;
}

.section-two {
  display: flex;
  align-items: center;
}

.content-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-mark-input1 {
  position: absolute;
  top: -13px;
  right: 9px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}
