.headset-icon-CD-unit2-page1-1,
.click-icon-unit2-page1-1,
.headset-icon-CD-unit2-page1-2,
.click-icon-unit2-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit2-page1-1 {
  top: 7%;
  right: 16%;
}

.click-icon-unit2-page1-1 {
     left: 20%;
    top: 37%;
}

.headset-icon-CD-unit2-page1-2 {
     bottom: 36%;
    left: 27%;

}

.click-icon-unit2-page1-2 {
  bottom: 13%;
  right: 39%;
}

#num-1 {
  top: 31%;
  left: 34%;
}

#num-2 {
  bottom: 38%;
  left: 31%;
}

#num-3 {
  top: 48%;
  left: 28.5%;
}

#num-4 {
  top: 16%;
  left: 44%;
}

#num-5 {
  top: 24%;
  left: 3%;
}

#num-6 {
  bottom: 40%;
  right: 29%;
}

#num-7 {
  bottom: 40.5%;
  right: 25%;
}
