.click-icon-unit2-page9-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 12%;
  left: 30%;
  cursor: pointer;
}

.click-icon-unit2-page9-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 32%;
  left: 32%;
  cursor: pointer;
}

.click-icon-unit2-page9-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 44%;
  left: 33%;
  cursor: pointer;
}
