.click-icon-unit2-page8-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 6%;
  left: 40%;
  cursor: pointer;
}

.click-icon-unit2-page8-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 36%;
  left: 40%;
  cursor: pointer;
}
.headset-icon-CD-unit2-page8-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 34%;
  right: 28%;
  cursor: pointer;
}

.click-icon-unit2-page8-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 34%;
  right: 23%;
  cursor: pointer;
}
