.click-icon-unit2-page10-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 6%;
  left: 40%;
  cursor: pointer;
}

.headset-icon-CD-unit2-page10-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 6%;
  left: 34%;
  cursor: pointer;
}
.click-icon-unit2-page10-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 17%;
  left: 42%;
  cursor: pointer;
}
.click-icon-unit2-page10-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 49%;
  left: 34.5%;
  cursor: pointer;
}

.headset-icon-CD-unit2-page10-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 49%;
  left: 40%;
  cursor: pointer;
}

.click-icon-unit2-page10-4 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 24%;
  left: 30%;
  cursor: pointer;
}
