.click-icon-unit2-page7-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 12%;
  left: 30%;
  cursor: pointer;
}
.click-icon-unit2-page7-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 59%;
  left: 40%;
  cursor: pointer;
}
.click-icon-unit2-page7-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 10%;
  left: 48.5%;
  cursor: pointer;
}
