.click-icon-unit2-page7-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 11%;
  left: 30%;
  cursor: pointer;
}
.click-icon-unit2-page7-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 59.5%;
  left: 41%;
  cursor: pointer;
}
.click-icon-unit2-page7-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 8.5%;
  left: 49.5%;
  cursor: pointer;
}
