.circled {
  border: 2px solid #3baaf7;
  border-radius: 50%;
  padding: 3px 6px;
}

.content-container1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: flex-start;
  width: 40vw;
}

.sentence-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 75px;
}

.char-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: pre;
}

/* الدائرة */
.circled {
  border: 2px solid #3baaf7;
  border-radius: 50%;
  padding: 2px 6px;
}

/* X الغلط */
.wrong-x-unit2-q3 {
position: absolute;
    top: -15px;
    left: 6px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    border: 2px solid white;
    align-items: center;
    flex-direction: column;
}
