.click-icon-unit3-page6-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 17%;
  left: 51%;
  cursor: pointer;
}

.click-icon-unit3-page6-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 6%;
  left: 39%;
  cursor: pointer;
}
.click-icon-unit3-page6-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 38%;
  left: 43%;

  cursor: pointer;
}
.headset-icon-CD-unit3-page6-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 31%;
  left: 27.5%;
  cursor: pointer;
}
