.headset-icon-CD-unit3-page1-1,
.click-icon-unit3-page1-1,
.headset-icon-CD-unit3-page1-2,
.click-icon-unit3-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.headset-icon-CD-unit3-page1-1 {
top: 7%;
    right: 11.5%;
}

.click-icon-unit3-page1-1 {
     left: 7%;
    top: 36%;
}

.headset-icon-CD-unit3-page1-2 {
     bottom: 39%;
    left: 4%;
}

.click-icon-unit3-page1-2 {
    bottom: 12.5%;
    right: 39%;
}


#num-1-unit3 {
          top: 20%;
    left: 6.5%;
}

#num-2-unit3 {
    bottom: 39%;
    left: 17.5%;
}

#num-3-unit3 {
top: 45%;
    left: 33.5%;
}

#num-4-unit3 {
      top: 19%;
    right: 35%;
}

#num-5-unit3 {
    top: 28%;
 right: 36%;
}

#num-6-unit3 {
    bottom: 53%;
    right: 36%;
}

#num-7-unit3 {
   left: 33%;
    bottom: 28.5%;
}
