.headset-icon-CD-unit3-page2-1,
.click-icon-unit3-page2-1,
.headset-icon-CD-unit3-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.headset-icon-CD-unit3-page2-1 {
  top: 11%;
  right: 16.5%;
}

.headset-icon-CD-unit3-page2-2 {
   bottom: 31%;
    right: 16%;
}

.click-icon-unit3-page2-1 {
     bottom: 16%;
    right: 26%;
}
