.unit3-q2-wrapper {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.unit3-q2-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.unit3-q2-B {
  background-color: #38bdf8;
  border-radius: 8px;
  padding: 0 10px;
  color: white;
  margin-right: 10px;
}

/* المحتوى الرئيسي */
.unit3-q2-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

/* الخيارات */
.unit3-q2-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 20px;
  margin: 40px 0px;
  width: 100%;
}


.unit3-q2-option-item {
  position: relative; /* مهم لظهور الـ X فوق يمين */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.unit3-q2-number {
  font-size: 25px;
  font-weight: 600;
  background: white;
  color: #2c5287;
  /* border: 2px solid #2c5287; */
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* دائرة دوماً */
  transition: 0.2s; /* سلاسة */
  font-size: clamp(18px, 2.3vw, 25px);
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
}


.unit3-q2-option-item.active .unit3-q2-number {
  color: #2c5287;
  border-color: #2c5287;
  border: 3px solid;
  transform: scale(1.1); /* كبر بسيط بدون تغيير الحجم الحقيقي*/
}
.unit3-q2-option-img {
  width: clamp(50px, 12vw, 90px);
  height: clamp(50px, 12vw, 90px);
  object-fit: contain;
}


/* لما تكون الإجابة غلط */
/* .wrong-answer {
  color: red !important;
  border-color: red !important;
  font-weight: bold;
} */

/* إشارة X الحمراء */
.wrong-x-unit3-q2 {
 position: absolute;
    top: -13px;
    right: -8px;
    color: white;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: bold;
    width: clamp(22px, 4vw, 25px);
    height: clamp(22px, 4vw, 25px);
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
