.question-wrapper10 {
  margin: auto;
  font-size: 1.4rem;
}

.row2-unit3-page6-q1 {
     display: flex;
    flex-direction: column;
    align-items: center;

}

.q-img-unit3-page6-q1 {
  width: 100px;
  height: 100px;
}

.q-input-unit3-page6-q1 {
  border-bottom: 2px solid #000000;
  padding: 5px 8px;
  /* border-radius: 6px; */
  font-size: 18px;
  width: 170px;
  text-align: center; /* توسيط أفقي */
  vertical-align: middle; /* توسيط عمودي */
  line-height: normal;
}

.row-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.num-span {
  color: #2c5287;
  font-weight: 700;
}

.error-mark-input {
  position: absolute;
  top: -10px;
  right: 5px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}

.row-content10-unit3-page6-q1 {
    display: flex;
    margin-bottom: 55px;
    gap: 22px;
    margin-top: 20px;

}


.q-input:focus {
  border-color: gray; /* هنا يصير اللون رمادي */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* ظل خفيف لطيف */
}