.headset-icon-CD-unit3-page1-1,
.click-icon-unit3-page1-1,
.headset-icon-CD-unit3-page1-2,
.click-icon-unit3-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.headset-icon-CD-unit3-page1-1 {
  top: 9%;
  right: 13.5%;
}

.click-icon-unit3-page1-1 {
  left: 9%;
  top: 36%;
}

.headset-icon-CD-unit3-page1-2 {
  bottom: 40%;
  left: 7%;
}

.click-icon-unit3-page1-2 {
  bottom: 14.5%;
  right: 38%;
}
