/* يغطي الشاشة */
.popup-overlay {
  position: fixed;
  top: 48px; /* ارتفاع النافبار */
  left: 0;
  width: 100%;
  height: calc(100vh - 45px); /* يغطي باقي الشاشة */
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* الشكل العام
.popup-content {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  animation: fadeIn 0.2s ease;
} */

/* إذا داخلها Audio → حجم طبيعي */
.audio-size {
  position: relative;
  background: transparent;
  border-radius: 12px;
  padding: 20px;
  animation: fadeIn 0.2s ease;
  width: 520px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* إذا مش Audio → fullscreen */
.fullscreen-size {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  animation: fadeIn 0.2s ease;
  width: 100vw;
  height: calc(100vh - 45px); /* يغطي باقي الشاشة */
  border-radius: 0;
}

/* زر الإغلاق */
.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.popup-close-btn.audio {
  position: absolute;
  top: 44px;
      right: 16px;
  background: none;
  border: none;
  font-size: 21px;
  cursor: pointer;
}
