.letter-of-Q {
  border: 5px #5acbf4 solid;
  background-color: #5acbf4;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  padding: 0px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.alphabet-box {
  padding: 14px 20px;
  border-radius: 12px;
  margin: 75px 0px;
  border: 5px solid #5acbf4;
}

.row {
  background: #f7d3e4; /* نفس الوردي اللي بالصورة */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 9px;

  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.cell {
  font-size: 25px;
  text-align: center;
  min-width: 18px;
  color: #333;
}

.number {
  color: #444;
}

.words {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.numbers-section1 {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.numbers-section2 {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.numbers-section3 {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.inputs {
  width: 50px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid #000000;
}
.word-group {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.sentence {
  margin-top: 15px;
  font-size: 25px;
  display: flex;
  gap: 21px;
}

.sentence-word {
  width: 35px;
  height: 35px;
  font-size: 25px;
  padding: 4px 8px;
}
.sentence {
  text-align: center;
  border-bottom: 2px solid #000000;
  margin-top: 35px;
  font-size: 25px;
}

.action-buttons-container {
  position: static;
  transform: none;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.action-buttons-container {
  bottom: 15px;
  gap: 15px;
  width: calc(100% - 30px);
}
.action-buttons-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: calc(100% - 40px);
  justify-content: center;
}

.letter-char{
      display: flex;
    flex-direction: column;
    align-items: center;
}
/* ⭐ تم إضافته */
.input-wrapper {
  position: relative; /* مهم جدا حتى يصير المرجع */
  display: inline-block;
}

.error-mark1 {
  position: absolute;
  top: 0px; /* تحريك لفوق */
  right: -8px; /* تحريك لليمين */
  width: 20px;
  height: 20px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* عشان ما تأثر على السحب أو الكتابة */
}

.input-h6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
