.container1 {
  width: 54vw;
  margin: auto;
  position: relative;
  user-select: none;
}

.matching-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  position: relative;
}

/* الكلمة + النقطة */
.word-with-dot {
  display: flex;
  align-items: center;
  width: 32%;
  gap: 10px;
}

/* النص يأخذ مساحة عشان النقطة ما تتحرك */
.word-text {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
}

.span-num {
  font-weight: 800;
  color: purple;
}

/* الصورة + النقطة */
.img-with-dot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  gap: 10px;
}

.matched-img {
  height: 150px;
  width: auto;
}

/* مكان ثابت للنقطة */
.dot-wrapper {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* النقاط */
.dot {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

/* طبقة الخطوط */
.lines-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ⭐ تم إضافتها */
.error-mark {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  left: 20%;
  top: 28%;
}
