.headset-icon-CD-unit4-page1-1,
.click-icon-unit4-page1-1,
.headset-icon-CD-unit4-page1-2,
.click-icon-unit4-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.headset-icon-CD-unit4-page1-1 {
  top: 7%;
  right: 8%;
}

.click-icon-unit4-page1-1 {
  left: 7%;
  top: 42%;
}

.headset-icon-CD-unit4-page1-2 {
  bottom: 39%;
  left: 4%;
}

.click-icon-unit4-page1-2 {
  bottom: 12.5%;
  right: 39%;
}

#num-1-unit4 {
  top: 31%;
  left: 14.5%;
}

#num-2-unit4 {
  bottom: 45%;
  left: 39.5%;
}

#num-3-unit4 {
  bottom: 24%;
  left: 36.5%;
}

#num-4-unit4 {
  bottom: 22%;
  right: 44%;
}

#num-5-unit4 {
  top: 54%;
  left: 32%;
}

#num-6-unit4 {
  bottom: 36%;
  right: 46%;
}

#num-7-unit4 {
  left: 30%;
  top: 19.5%;
}

#num-8-unit4 {
  right: 21%;
  top: 26.5%;
}
