.four-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 20px; */
}

.images-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

/* الصورة الكبيرة (الأولى) */
.main-image-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
     padding: 20px;
  width: 100%;
  border-radius: 16px;
  transition: all 0.4s ease;
}
/* 
.main-image-box.active {
  transform: scale(1.1);
  background: gold;
} */

.main-image {
  width: auto;
  height: 50px;
}

/* الصور الصغيرة على اليمين */
.small-images {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  position: absolute;
  bottom: 25%;
  /* width: 50%; */
}

.small-box2 {
  padding: 10px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.small-box2.active {
  transform: scale(1.15);
  background: gold ;
}

.small-img2 {
  width: 300px;
  height: auto;
}


.small-box1 {
  padding: 10px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease;
}

.small-box1.active {
  transform: scale(1.15);
  background: gold ;
}

.small-img1 {
  width: 450px;
  height: auto;
}

/* مكان الأوديو */
.main-audio {
  /* width: 80%; */
  margin: 15px auto;
  display: block;
}
