.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  user-select: none;
  padding: 0px 43px;
}
.H5-Q8 {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
}

.span-num {
  margin-right: 10px;
  color: rgb(105, 1, 147);;
}
.word-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 115px;
  margin-right: 200px;
}
.header-title-page8-q3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  font-weight: 700;
}

.dot {
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.start-dot {
  left: 38%;
  transform: translateX(-50%);
}
.end-dot {
  right: 39%;
  transform: translateX(50%);
}
.lines-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.img-container2 {
  display: flex;
  align-items: center;
}

#dot-start1 {
  top: 23%;
}

#dot-start2 {
  bottom: 23%;
}
