.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
  gap: 250px;
  user-select: none;
  padding-bottom: 85px;
}

.word-section1,
.word-section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.H5 {
  font-family: "Baloo 2", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: transparent;
  display: flex;
  -webkit-text-stroke: 2px #5c5c5c;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-dot1 {
  left: 22%;
  transform: translateX(-50%);
}
.end-dot1 {
  right: 36%;
  transform: translateX(-50%);
}
.lines-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.img-container2 {
  display: flex;
  align-items: center;
}



.color-palette {
  position: absolute;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 8px;
  left: 40%;
  z-index: 9999;
  flex-direction: column;
  align-items: center;
  top: 29%;
}

.color-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #333;
}


.word-outline {
   color: transparent;
  -webkit-text-stroke: 2px #555;
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  transition: 0.2s ease;
}

.word-colored {
  -webkit-text-stroke: 2px #555; /* نخلي الخط الخارجي نفس ما هو */
  font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

.word-outline, .word-colored {
  font-family: 'Fredoka', sans-serif;
}