@import "tailwindcss";

body {
  background: linear-gradient(90deg, #9c6bff, #ff88d2);
  overflow-y: hidden;
}

.page_1 {
  height: 100vh;
  width: 80vw;
  background-repeat: no-repeat;
  /* ما تتكرر */
  background-position: center;
  /* تبقى بالنص */
  background-size: contain;
  /* تحفظ الحجم الطبيعي */
  background-color: #fff;
  /* او أي لون خلفية */
  overflow: hidden;
  /* يمنع أي Scroll */
}

.page_1-background {
  background-image: url("./assets/page_1.png");
  width: 100vw;
  min-height: 100vh;
  /* مو height، لازم min-height */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* الصورة تبقى كاملة ولا تنقص */
  background-color: #ffffff;
  /* مهم حتى لا تختفي */
  overflow: hidden;
  /* لمنع Scroll */
}

.page_2-background,
.page_3-background,
.page_4-background,
.page_5-background,
.page_6-background {
  background-color: #ffffff;
  /* مهم حتى لا تختفي */
  overflow: hidden;
  position: relative;
  /* لمنع Scroll */
  justify-content: center;
  display: flex;
}

img {
  height: 85vh;
  width: 100vw;
}

/* ============page 4=============== */
.page {
  position: relative;
  width: 100%;
  max-width: 900px; /* حجم مناسب */
  margin: auto;
}

.page-img {
  width: 100%;
  height: auto;
  display: block;
}

.number-icon,
.headset-icon-CD-page4-1,
.headset-icon-CD-page4-2,
.click-icon-page4 {
  position: absolute;
  transform: translate(-50%, -50%);
}
.headset-icon-CD-page4-1 {
  top: 8%;
  right: 11%;
}

#num-4-page4 {
  top: 25%;
  left: 85%;
}

#num-5-page4 {
  top: 28%;
  left: 74%;
}

#num-1-page4 {
  top: 44%;
  left: 45%;
}
.headset-icon-CD-page4-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.headset-icon-CD-page4-2 {
  position: absolute;
  top: 60%;
  left: 5%;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

.click-icon-page4 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 14%;
  right: 39%;
}

.header-title-page4 {
  font-family: "Fredoka", sans-serif;
  /* خط قريب من اللي في الصورة */
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  text-shadow: -1px -1px 0 #0c9de5, 1px -1px 0 #0c9de5, -1px 1px 0 #0c9de5,
    1px 1px 0 #0c9de5;
  /* تحديد خارجي */
}

.number-icon {
  position: absolute;
  background-color: #fff461;
  border: red solid 2px;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  /* حتى نقدر نوسّط الرقم */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* شكل الرقم */
  font-size: 16px;
  position: absolute;
}
.click-icon-page4-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 36%;
  left: 5%;
}

#num-4-page4 {
  top: 25%;
  left: 85%;
}

#num-5-page4 {
  top: 28%;
  left: 74%;
}

#num-1-page4 {
  top: 44%;
  left: 45%;
}

#d {
  color: darkblue !important;
  font-size: 30px;
  position: absolute;
  top: 58%;
  left: 17.5%;
}

.listen {
  color: black;
  font-size: 20px;
  position: absolute;
}

.listenSpan {
  color: red;
}

#duck {
  bottom: 23%;
  right: 22%;
}

#dish {
  bottom: 23%;
  left: 50%;
}

#deer {
  bottom: 23%;
  left: 25%;
}

/*===========page5============*/

.headset-icon-CD-page5 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
}

#CD-1-page5 {
  top: 6%;
  right: 7%;
}

#CD-2-page5 {
  bottom: 31%;
  right: 12%;
}

#num-2-page5 {
  top: 46%;
  left: 8%;
}

#num-3-page5 {
  top: 43%;
  left: 34%;
}

.click-icon-page5 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 15%;
  left: 53%;
}

#t {
  color: darkblue !important;
  font-size: 30px;
  position: absolute;
  top: 49%;
  left: 19.5%;
}

#tiger {
  bottom: 28%;
  right: 22%;
}

#taxi {
  bottom: 28%;
  left: 50%;
}

#table {
  bottom: 28%;
  left: 25%;
}

/*===========page 6 ====================*/

.headset-icon-CD-page6 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
  top: 5%;
  left: 36%;
}

/*=========page7===========*/
.headset-icon-CD-page7 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
  top: 12%;
  right: 32%;
}

/*===========page8==================*/
.headset-icon-CD-page8 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 13%;
  left: 45%;
}

.click-icon-page8-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 13%;
  left: 47%;
}
.click-icon-page8-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 28%;
  left: 22%;
}
.click-icon-page8-3 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 47%;
  left: 22%;
}

.click-icon-page8-4 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  bottom: 29%;
  left: 29%;
}

.ex-A {
  border: white solid 2px;
  padding: 0px 10px;
  background-color: #6bcff6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 7px;
  color: #ffffff;
}

.ex-a-1 {
  color: rgb(105, 1, 147);
  font-size: 25px;
  padding: 0px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.header-title-page8 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  font-weight: 700;
}

.exercise-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-image {
  height: 100px;
  cursor: pointer;
  transition: 0.2s;
}

.exercise-image:hover {
  transform: scale(1.1);
}

.missing-input {
  width: 35px;
  height: 35px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #4aa1ff;
  border-radius: 6px;
  margin-top: 8px;
}
.number-of-q {
  color: rgb(105, 1, 147);
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
}

/* footer buttons */
.validation-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 18px;
}

.retry-btn,
.play-btn,
.check-btn {
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 600;
}

.retry-btn {
  background: #ffee00;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.play-btn {
  background: #64b8ff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.check-btn {
  background: #55c271;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.char-input {
  border-bottom: black solid 2px;
}
.popup-container {
  position: relative;
  z-index: 9999;
  background: white;
  padding: 25px;
  width: 480px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#match-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  background: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
}

.item img {
  width: 100px;
  pointer-events: none;
}

.check-button2 {
  background-color: #28a745;
}

.check-button2:hover {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
}

.try-again-button {
  background-color: #ffc107;
  color: #212529;
}

.try-again-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}

/*===========page9==================*/
.headset-icon-CD-page9 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
  bottom: 34%;
  right: 37%;
}

.click-icon-page9-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 11%;
  right: 33%;
}

.click-icon-page9-2 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px;
  padding: 5px;
  top: 30%;
  right: 32%;
}
