@import "tailwindcss";

body {
  background: rgb(233, 233, 233);
  overflow-x: hidden;
  overflow-y: hidden;
}

input:focus {
  border-color: gray !important ; /* هنا يصير اللون رمادي */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* ظل خفيف لطيف */
}

.clickable-area {
  background-color: rgba(255, 255, 0, 0); /* شفاف بالأساس */
  transition: background-color 0.2s ease, border 0.1s ease;
}

.clickable-area:hover {
  background-color: rgba(255, 0, 0, 0.078); /* لون أصفر فاتح */
  border: 2px solid rgba(255, 0, 0, 0.8); /* إطار أصفر واضح */
  border-radius: 8px; /* ممكن تخليها 0 لو بدك زوايا حادة */
  cursor: pointer;
}

.navbar-fixed {
  position: relative;
  z-index: 99999999;
}

.page_1-background,
.page_2-background,
.page_3-background,
.page_4-background,
.page_5-background,
.page_6-background,
.page_7-background,
.page_8-background,
.page_9-background,
.unit2-page-background {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* حتى تتمركز الصورة عموديًا */
  width: auto;
  /* height: 95vh; يغطي 95% من ارتفاع الشاشة */
  margin: 0;
  padding: 0;
}

/* إعداد الصورة نفسها */
img {
  height: 85vh;
  width: auto;
}

/* ============page 4=============== */
.page {
  position: relative;
  width: 100%;
  max-width: 900px; /* حجم مناسب */
  margin: auto;
}

.page-img {
  width: 100%;
  height: auto;
  display: block;
}

.num-img,
.vocab_container h6 {
  transition: transform 0.4s ease, color 0.4s ease;
}

.num-img.active {
  transform: scale(1.4);
  filter: drop-shadow(0 0 6px gold);
}
.vocab_container h6 {
  transition: transform 0.2s ease, color 0.2s;
}

.vocab_container h6.active {
  transform: scale(1.2); /* تكبير بدون ما يتحرك */
  color: red;
  font-weight: 600;
  filter: drop-shadow(0 0 6px gold);
}

.vocab_container {
  position: absolute;
  bottom: 5%;
  right: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.number-icon,
.headset-icon-CD-page4-1,
.headset-icon-CD-page4-2,
.click-icon-page4 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.headset-icon-CD-page4-1 {
  top: 7.5%;
    right: 7.5%;
}

#num-4-page4 {
  top: 25%;
  left: 85%;
}

#num-5-page4 {
  top: 28%;
  left: 74%;
}

#num-1-page4 {
  top: 44%;
  left: 45%;
}
/* .headset-icon-CD-page4-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
  cursor: pointer;
} */

.headset-icon-CD-page4-2 {
  position: absolute;
  top: 61%;
  left: 27%;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px; */
  cursor: pointer;
}

.click-icon-page4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 11.5%;
  right: 39%;

  cursor: pointer;
}

.header-title-page4 {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-shadow: -1px -1px 0 #46b8e6, 1px -1px 0 #46b8e6, -1px 1px 0 #46b8e6,
    1px 1px 0 #46b8e6;
  color: white;
  background: #46b8e6;
  width: fit-content;
  border-radius: 20px 20px 0px 0px;
  padding: 5px;
  position: absolute;
  top: 19%;
  left: 26%;
}

.number-icon {
  position: absolute;
  background-color: #fff461;
  border: red solid 2px;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  /* حتى نقدر نوسّط الرقم */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* شكل الرقم */
  font-size: 16px;
  position: absolute;
}
.click-icon-page4-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 35%;
  left: 16%;
  cursor: pointer;
}

#num-4-page4 {
  top: 25%;
  left: 85%;
}

#num-5-page4 {
  top: 28%;
  left: 74%;
}

#num-1-page4 {
  top: 44%;
  left: 45%;
}

#d {
  color: darkblue !important;
  font-size: 30px;
  position: absolute;
  top: 43%;
  left: 17.5%;
}

.listen {
  color: black;
  font-size: 20px;
  position: absolute;
  font-weight: 500;
}

.listenSpan {
  color: red;
}

#duck {
  bottom: 30%;
  right: 18%;
}

#dish {
  bottom: 30%;
  left: 54%;
}

#deer {
  bottom: 30%;
  left: 31%;
}

/*===========page5============*/

.headset-icon-CD-page5 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  cursor: pointer;
}

#CD-1-page5 {
  top: 3%;
  right: 4%;
}

#CD-2-page5 {
  bottom: 30.5%;
  right: 10%;
}

#num-2-page5 {
  top: 46%;
  left: 8%;
}

#num-3-page5 {
  top: 43%;
  left: 34%;
}

.click-icon-page5 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 14%;
     left: 52%;
  cursor: pointer;
}
#t {
  color: darkblue !important;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 18.5%;
}

#tiger {
  bottom: 28%;
  right: 15%;
}

#taxi {
  bottom: 28%;
  left: 54%;
}

#table {
  bottom: 28%;
  left: 31%;
}

#text-0 {
  position: absolute;
  top: 30%;
  left: 7%;
  font-size: 43px;
}
#text-1 {
  cursor: pointer;
  font-size: 43px;
  position: absolute;
  right: 20%;
  top: 30%;
}

/*===========page 6 ====================*/

.headset-icon-CD-page6 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  top: 4%;
  left: 35%;
  cursor: pointer;
}

.clickable-area {
  position: absolute;
  cursor: pointer;
}
/*=========page7===========*/
.headset-icon-CD-page7 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  top: 4%;
  right: 59%;
  cursor: pointer;
}

/*===========page8==================*/
.headset-icon-CD-page8 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 8%;
  right: 4%;
  cursor: pointer;
}

.click-icon-page8-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 8%;
 right: 4%;
  cursor: pointer;
}
.click-icon-page8-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 26%;
  left: 33.7%;
  cursor: pointer;
}
.click-icon-page8-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
top: 47%;
  left: 33.5%;
  cursor: pointer;
}

.click-icon-page8-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
      bottom: 23%;
  left: 50.7%;
  cursor: pointer;
}

.ex-A {
  border: white solid 2px;
  padding: 0px 10px;
  background-color: #6bcff6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 7px;
  color: #ffffff;
}

.ex-a-1 {
  color: rgb(105, 1, 147);
  font-size: 25px;
  padding: 0px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.header-title-page8 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.exercise-container {
    display: flex;
    margin-bottom: 80px;
    width: -webkit-fill-available;
    flex-direction: row;
    align-items: flex-start;
  gap: 20px;
    justify-content: space-evenly;
  }

.exercise-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-image {
      height: 150px;
    width: auto;
  cursor: pointer;
  transition: 0.2s;
  border: solid 2px #6ec1ff;
  border-radius: 13px;
  margin-left: 10px;
}

.exercise-image:hover {
  transform: scale(1.1);
}

.missing-input {
  width: 38px;
  height: 38px;
  border: 2px solid #6ec1ff;
  border-radius: 6px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transition: transform 0.2s ease, font-size 0.2s ease;
}
.page8-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page8-content {
  width: 90%;
  max-width: 900px;
}


/* لما يصير فيه حرف */
.missing-input.filled {
  transform: scale(1.1); /* يكبر بنسبة 20% */
  font-size: 25px;
}
.missing-input:focus {
  transform: scale(1.25); /* يكبر شوي */
}

.number-of-q {
  color: rgb(105, 1, 147);
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

/* footer buttons */
.validation-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 18px;
}

.retry-btn,
.play-btn,
.check-btn {
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 600;
}

.retry-btn {
  background: #ffee00;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.play-btn {
  background: #64b8ff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.check-btn {
  background: #55c271;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.char-input {
  border-bottom: black solid 2px;
}
.popup-container {
  position: relative;
  z-index: 9999;
  background: white;
  padding: 25px;
  width: 480px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#match-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  background: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
}

.item img {
  width: 100px;
  pointer-events: none;
}

/* #deer-0{
  transform: scaleX(-1);
  
} */
.check-button2 {
  background-color: #28a745;
}

.check-button2:hover {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
}

.try-again-button {
  background-color: #ffc107;
  color: #212529;
}

.try-again-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}

.play-btn:hover {
  background-color: #1b92f4;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}


/*===========page9==================*/
.headset-icon-CD-page9 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  bottom: 30.5%;
  left: 25.8%;
  cursor: pointer;
}

.click-icon-page9-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 3.5%;
  left: 33%;
  cursor: pointer;
}

.click-icon-page9-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 26%;
  left: 33.8%;

  cursor: pointer;
}

#ex-d {
  display: flex;
  align-items: flex-end;
  gap: 11px;
}



@media (max-width: 768px) {
  .page_1-background,
  .page_2-background,
  .page_3-background,
  .page_4-background,
  .page_5-background,
  .page_6-background,
  .page_7-background,
  .page_8-background,
  .page_9-background,
  .unit2-page-background {
    height: 90vh; /* تصغير بسيط حتى ما تتقص على الموبايل */
  }

  .page-image {
    width: 100%;
    height: auto; /* خلي الارتفاع تلقائي بالموبايل */
  }
}
